@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins' , sans-serif;
}
body{
    
    
    justify-content: center;
    align-items: center;
}


.contactform{
    align-items: center;
    text-align: center;
    height: 100vh; /* Ensure it fills the entire viewport height */
    width: 100vw;
    
}
.send{
    font-size: 25px;
    padding: 20px;
    color:  rgb(113, 191, 239); 
}
.seend{
    font-size: 14px;
   
    color:  rgb(113, 191, 239); 
}
form{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh; /* Ensure it fills the entire viewport height */
    width: 100vw; /* Ensure it fills the entire viewport width */


}
.text{
    padding: 20px;
}
section{
 background-image: url(image/100a.jpg); 
    background-position: center;
    background-size: cover;
} 

.text input{
    height: 30px;
    width: 300px;
    border: none;
    background-color: transparent;
    color:  rgb(113, 191, 239);
    border-bottom: 2px solid black;
}

input[type="email"]::placeholder {
    color:  rgb(113, 191, 239);
    opacity: 1; /* Ensures the color is fully opaque */
}
input[type="name"]::placeholder {
    color: rgb(113, 191, 239);
    opacity: 1; /* Ensures the color is fully opaque */
}
input[type="text"]::placeholder {
    color: rgb(113, 191, 239);
    opacity: 1; /* Ensures the color is fully opaque */
}


.text textarea{
    height: 70px;
    width: 300px;
     background-color: transparent;
     border: 2px solid black;
     color:  rgb(113, 191, 239);

}
.contactform button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 118, 2);
    text-decoration: none;
    font-family: sans-serif;
  border: none;
}
.bottom{
    margin: 40px;
    display: block;
    font-size: 16px;
}
.bottom span{
    text-align: center;
    font-weight: bold;
 
}
.bottom p{

    color:  rgb(113, 191, 239);
}
.social{
  
    text-align: center;
    align-items:center;
    text-decoration: none;
    padding: 40px;
   
   
   
   
}
.social a i{
    text-decoration: none;
    color: rgb(255, 118, 2);
   font-size: 25px;
   cursor: pointer;
  

}
.social a i :hover{
    color: black;
}
@media(max-width:700px){
    form{
      
        height: 100vh; /* Ensure it fills the entire viewport height */
        width: 100vw; /* Ensure it fills the entire viewport width */
    
    }
    .send{
        font-size: 20px;
    }
    .text textarea{
      width: 200px;
      border: 1px solid black;
    }
    .text input{
        width: 200px;
        border-bottom: 1px solid black;
    }

    

}